.SideDrawerItems {
  background-color: rgba(0, 0, 0, 1) !important;
  border-bottom: 1px solid #dbdcd2;
  border-top: 1px solid #dbdcd2;
  transition: all 0.3s ease;
  transform-origin: 50% 50%;
  border-right: none;
  border-radius: 0;
}

.SideDrawerItems:first-of-type {
  border-top: 0;
}
.SideDrawerItems:last-of-type {
  border-bottom: 0;
}
.cardHeader {
  padding: 20px;
}
.cardHeader span:first-child {
  margin: 0 auto;
}
button {
  border: none;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 18px;
  letter-spacing: 1px;
  font-weight: 400 !important;
  font-family: UnitedSansSemiCond-Light;
  padding: 5px;
  margin: 0;
  width: 100%;
  text-align: left;
  background-color: transparent;
}
.IconPlus::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 30px;
  width: 15px;
  height: 2px;
  margin-top: -1px;
  background-color: #5a5858;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s ease-out;
  transform: rotate(-90deg);
  opacity: 1;
  z-index: 2;
}
.IconPlus::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 30px;
  width: 15px;
  height: 2px;
  margin-top: -1px;
  background-color: #5a5858;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s ease-out;
}
button:active > .IconPlus::before .IconPlus::afte {
  display: none;
}
.IconMinus:before {
  content: "";
  display: block;
  position: absolute;
  top: 70%;
  right: 30px;
  width: 15px;
  height: 2px;
  margin-top: -1px;
  background-color: red;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s ease-out;
}
