/* Slideshow container */
.slideshowContainer {
  display: block;
  position: relative;
  margin: 6px auto;
  padding: 0 15px;
  width: 100%;
  max-height: 400px;
}

.slideshowContainer .slide {
  cursor: move;
  overflow: hidden;
  z-index: 0;
}
.slide .link {
  top: 0px;
  left: 0px;
}
.slideshowContainer .slide img {
  width: 100%;
  height: 100%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  color: white;
  font-weight: bold;
  font-size: 35px;
  transition: 0.6s ease;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.prev {
  left: 10px;
}
/* Position the "next button" to the right */
.next {
  right: 10px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
}

/* The dots/bullets/indicators */
.slideshowDots {
  text-align: center;
}

.slideshowDots .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 3px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:active,
.dot:hover {
  background-color: #717171;
}
@media (min-width: 768px) {
  .slideshowContainer {
    padding: 0;
    margin-bottom: 25px;
  }
}
