.Toolbar {
  height: 63px;
  width: 100%;
  position: fixed;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid #ed1c24;
  z-index: 90;
}

.Toobar nav {
  height: 100%;
}

@media (min-width: 762px) {
  .Toolbar {
    height: 85px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
    box-sizing: border-box;
    z-index: 90;
    position: relative;
    border: none;
  }
}
