.SubMenu {
  font-size: 20px;
  position: relative;
  font-weight: 400;
  transition: all 0.5s ease-out;
  margin-bottom: -1px;
  margin-left: -25px;
  padding: 0;
}

.Open {
  display: block;
  transform: translateY(0%);
}
.Close {
  display: none;
  transform: translateY(200%);
}
ul {
  list-style: none;
  margin: 0;
  padding: 20px 0 20px 40px;
  background-color: white;
}
li {
  text-transform: capitalize;
  line-height: 18px;
}
.SubMenu ul li a {
  text-decoration: none;
  line-height: 25px;
  letter-spacing: 0;
  cursor: pointer;
  color: rgb(77, 77, 77);
  font-family: UnitedSansSemiCond-Light;
}
@media (min-width: 768px) {
  ul {
    background-color: transparent;
  }
}
