.Logo {
  margin: 0 auto;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  clear: both;
}
.Logo .mobileLogo {
  height: auto;
  vertical-align: middle;
  border: 0;
  cursor: pointer;
  text-align: center;
}

.Logo .largeLogo {
  display: none;
}

@media (min-width: 768px) {
  .Logo .mobileLogo {
    display: none;
  }
  .Logo .largeLogo {
    display: block;
    margin: 10px 0 15px 10px;
    position: relative;
  }
}
