.Logo {
  margin: 0 auto;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  clear: both;
}
.Logo .mobileLogo {
  position: absolute;
  height: 52px;
  top: -25px;
  left: -25px;
}

.Logo .largeLogo {
  display: none;
}

.Toolbar .navbar-brand {
  font-size: 18px;
  line-height: 20px;
  padding: 10px !important;
}
.Toolbar a,
a:hover {
  text-decoration: none !important;
  background-color: transparent;
}

@media (min-width: 768px) {
  .Logo .mobileLogo {
    display: none;
  }
  .Logo .largeLogo {
    display: block;
    margin: 10px 0 15px 10px;
    position: relative;
  }
}
