.Banners {
  margin: 15px 0 0;
  padding: 0 10px;
  width: 100%;
}
.Banners div {
  padding: 0;
  margin: 0;
}

.Banners img {
  padding: 5px;
  width: 100%;
}
@media (min-width: 768px) {
  .Banners {
    padding: 0;
  }
}
