.BuildControls {
  width: 99%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
  border-radius: 30px;
  border-top: 5px solid #c8102e;
  box-shadow: 0px 14px 17px -6px #c8102e;
  color: #c8102e;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0;
  font-family: "Lobster Two", cursive;
}

.OrderButton {
  background-color: #dad735;
  outline: none;
  cursor: pointer;
  border: 1px solid #966909;
  color: #966909;
  font-family: inherit;
  font-size: 1.2em;
  padding: 15px 30px;
  margin: 30px auto;
  box-shadow: 2px 2px 2px #966909;
}

.OrderButton:hover,
.OrderButton:active {
  background-color: #a0db41;
  border: 1px solid #966909;
  color: #966909;
}

.OrderButton:disabled {
  background-color: #c7c6c6;
  cursor: not-allowed;
  border: 1px solid #ccc;
  color: #c8102e;
  box-shadow: 2px 2px 2px #c8102e;
}

.OrderButton:not(:disabled) {
  animation: enable 0.3s linear;
}

.Dropdown {
  border: none;
  outline: none;
  font-size: inherit;
  color: #2e2c31;
  width: 105%;
  margin: 20px auto;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; /* remove default arrow */
  background-image: url("../../../assets/images/angle-down-solid.svg");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 0.7rem;
  background-size: 0.6rem; /* add custom arrow */
}

.Column1 {
  display: flex;
  flex-direction: column;
  width: 30vw;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

@keyframes enable {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@media (min-width: 600px) {
  .BuildControls {
    flex-flow: row;
    align-items: flex-start;
    justify-content: center;
  }
  .Column1 {
    width: 30vw;
    justify-content: center;
    align-items: flex-start;
    padding: 5px;
    margin: 15px 0;
  }
  .Dropdown {
    width: 130%;
  }
}
