.Cart {
  background-color: #ed1c24;
  border-radius: 3px;
  color: #fff !important;
  margin: 15px 15px 0 0;
  float: right;
  font-size: 15px;
  justify-content: center;
  -webkit-box-shadow: 0 0 10px #ed1c24;
  -moz-box-shadow: 0 0 10px #ed1c24;
  box-shadow: 0 0 10px #ed1c24;
  margin: 30px 15px 0 0 !important;
  padding: 5px 12px 4px 10px !important;
  cursor: pointer;
  display: flex;
}

.Cart a {
  text-decoration: none !important;
}
.Cart img {
  height: 21px;
}
