.BuildControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.BuildControl button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 5px;
  width: 50px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  color: #fff;
}

.BuildControl button:disabled {
  background-color: transparent;
  color: #a10110;
  cursor: default;
}

.BuildControl button:hover:disabled {
  background-color: transparent;
  color: #ccc;
  cursor: not-allowed;
}

.Label {
  margin: 5px;
  padding: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  width: 90px;
}

.BuildControl .Remove {
  background-color: transparent;
  color: white;
}

.BuildControl .Add {
  background-color: transparent;
  color: white;
}
/*
.BuildControl .Remove:hover,
.BuildControl .Remove:active {
}

.BuildControl .Add:hover,
.BuildControl .Add:active {
}
*/
