.NavigationItemTwo {
  display: none;
  text-transform: uppercase;
  position: relative;
  font-family: UnitedSans, tahoma, helvetica, arial, sans-serif !important;
}

@media (min-width: 768px) {
  .NavigationItemTwo {
    display: block;
    line-height: 20px;
    width: auto;
    margin: 0;
    color: #fff !important;
    font-family: UnitedSans !important;
    font-size: 14px !important;
    font-weight: 400;
    border: none !important;
  }
  .NavigationItemTwo a {
    color: #fff;
    text-decoration: none;
    width: auto;
    margin: 0;
    padding: 5px;
  }
  .NavigationItemTwo a:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
